<div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption class="uk-text-bold uk-text-uppercase uk-text-center" style="color: darkblue">
            Stations Added
        </caption>
        <thead >
        <th>Name</th>
        <th>Location</th>
        <th>Year</th>
        <th>Boat Type</th>
        <th>Description</th>
        <th>Contributor</th>
        <th>Update Station</th>
        <th>Delete Station</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each lifeboatstations}}
            <tr>
                <td>{{name}}</td>
                <td>{{location}}</td>
                <td>{{year}}</td>
                <td>{{boat}}</td>
                <td>{{description}}</td>
                <td>{{contributor.firstName}} {{contributor.lastName}}</td>
                <td>
                    <a href="/editstation/{{_id}}" class="uk-card uk-card-small uk-card-hover uk-padding-small" >
                        <i class=" fas far fa-pencil-alt fa-2x uk-position-relative uk-position-right " style="color: darkblue;" title="Update Information" uk-tooltip>
                        </i>
                    </a>
                </td>
                <td>
                    <a href="/deletestation/{{_id}}" class="uk-card uk-card-small uk-card-hover uk-padding-small" >
                        <i class=" fas far fa-trash-alt fa-2x uk-position-relative uk-position-right " style="color: darkblue;" title="Delete Station" uk-tooltip>
                        </i>
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

