<div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption class="uk-text-bold uk-text-uppercase uk-text-center" style="color: darkblue">
            Stations Added
        </caption>
        <thead >
        <th>Name</th>
        <th>Location</th>
        <th>Year</th>
        <th>Boat Type</th>
        <th>Description</th>
        <th>Contributor</th>
        <th>Photos</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each lifeboatstations}}
            <tr>
                <td>{{name}}</td>
                <td>{{location}}</td>
                <td>{{year}}</td>
                <td>{{boat}}</td>
                <td>{{description}}</td>
                <td>{{contributor.firstName}} {{contributor.lastName}}</td>
                <td></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>